<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script> var user = {}, localVideoID = null, localAudioID = null, userType = null, oldAdminID = null, adminID = null, title, localVideoStream = null; 
    </script>
	<script src="/node_modules/rtc/dist/rtc.js"></script>
	<script src="../sockets.js"></script>
	<script src="../vex/dist/js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-os'</script>
    <link rel="stylesheet" href="../vex/dist/css/vex.css" />
    <link rel="stylesheet" href="../vex/dist/css/vex-theme-os.css" />
	<script>
        var socketInited = false, videoInited = false, currentRoomID = null, adminIDChanged = false, rtc, firstStartChange = false;

        $(document).ready(function(){
            user.username = getUsername();
            $('.logout-block>a').text(user.username);
            $('.logout-block').show();

            socketModule.start('chat');
            
        });
                
        $(window).focus(function() {
            var myInt = setInterval(function(){
                title = $('#chatName').text();
                if(socketInited){
                    socketModule.selectRoom(title);
                    clearInterval(myInt);
                }
            }, 100);
        });
        
        $(window).load(function(){
            var myInt = setInterval(function(){
                title = $('#chatName').text();
                if(socketInited){
                    socketModule.selectRoom(title);
                    clearInterval(myInt);
                }
            }, 100);
            
        });

        function getUsername() {
            var name = "username=";
            var ca = document.cookie.split(';');
            for(var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        
        function closeChat(){
            window.top.close();
        }
        
        function startVideo(type, room){
            
          socketModule.updateUsers();
            
          var video = false, local = '#l-video', remote='#r-video';    
            
          if(type=='user'){
              video=false;
              $('#l-video').hide();
              $('#r-video').css('display', 'inline-block');
          } else if(type=='user2' || type=='admin'){
              video=true;
          }    
            
          var rtcOpts = {
             constraints: {
                 video: video,
                 audio: true
               },
             room: room,
             localContainer: local,
             remoteContainer: remote,  
             signaller: 'http://localhost:4000',
             type: type,
             user: user.username  
           };
            
          rtc = RTC(rtcOpts);   
            
          if(type=='admin'){
             var myInt = setInterval(function(){
                 if(adminID && title){
                     socketModule.addAdminID(adminID, title);
                     clearInterval(myInt);
                 }
             }, 500);
          }    
        }
        
        function showModal(){
            vex.dialog.confirm({
                message: 'Organizer of this room wants to allow you to broadcast video',
                callback: function (value) {
                    console.log(value);
                    if (value) {
                        socketModule.acceptStream(title, user.username);
                        startVideo('user2', $('#chatName').text());
                        adminIDChanged = true;
                    } else {
                        console.log('declined');
                        socketModule.declineStream(title, user.username); 
                    }
                }
            });
        }
        
        var myRemoteInt = setInterval(function(){
          if(adminIDChanged && adminID && userType && userType!='admin'){    
            $("#r-video>video").each(function(i){
                if(adminID!=$(this).data('id')){
                    console.log(adminID, oldAdminID, $(this).data('id'));
                    if($(this).data('id')!=localVideoID && oldAdminID!=$(this).data('id'))
                        $('#u-video').append($(this).context.outerHTML);    
                    $(this).remove();
                    
                    setTimeout(function(){
                        adminIDChanged = false;
                    }, 1000);
                }
            });
          }
        }, 100);
        
        var myAdminInt = setInterval(function(){
            if(user.allRooms && user.allRooms.length && title && userType){
                for(var r in user.allRooms){
                        if(user.allRooms[r].title==title){
                            if(!adminID)
                                adminID = user.allRooms[r].orgVideoId;
                            currentRoomID = r;
                            break;
                        }
                    }
            }
            if(adminID && userType!='admin'){
                    if(adminID != user.allRooms[currentRoomID].orgVideoId){
                        oldAdminID = adminID;
                        adminID = user.allRooms[currentRoomID].orgVideoId;
                        console.log('changes admin', adminID, oldAdminID);
                        adminIDChanged = true;
                    }
                }

        }, 100);
        
        var showRemoteInt = setInterval(function(){
            if(userType && userType=='admin'){
                if($('#r-video>video').length){
                    $('#r-video').css('display', 'inline-block');
                } else {
                    $('#r-video').hide();
                }
            } else if(userType && userType!='admin'){
                if($('#l-video>video').length){
                    $('#l-video').css('display', 'inline-block');
                } else {
                    $('#l-video').hide();
                }
                
                if($('#l-video>video').length)
                    localVideoID = $('#l-video>video').data('id');
                
                if($('#l-video>audio').length)
                    localAudioID = $('#l-video>audio').data('id');
                
                if($('#u-video>video').length){
                    $('#u-video').css('display', 'inline-block');
                } else {
                    $('#u-video').hide();
                }

                if($('#r-video>video[data-id="'+adminID+'"]').length>1){
                    $('#r-video>video[data-id="'+adminID+'"]')[0].remove();
                }
                
                $('#r-video>audio').each(function(){
                    if($(this).data('id')==localAudioID){
                        $(this).remove();
                    }
                    else {
                        var id = $(this).data('id');
                        while($('#r-video>audio[data-id="'+id+'"]').length>1){
                            $('#r-video>audio[data-id="'+id+'"]')[0].remove();
                        }
                    }
                });
                
            }
        }, 100);
        
        var firstNum = 0;
        
        var firstStartInt = setInterval(function(){
                firstNum++;
            
                  if($('#r-video>video').length>1){
                    adminIDChanged = true;
                    clearInterval(firstStartInt);
                } 
            
                if(firstNum>5)
                    clearInterval(firstStartInt);
            
            
            
        }, 1000);
        
        var removeStoppedInt = setInterval(function(){
            if(currentRoomID){
                for(var r in user.allRooms[currentRoomID].stopped){
                    if(user.allRooms[currentRoomID].stopped[r]){    
                        if($('#l-video>video[data-id="'+user.allRooms[currentRoomID].stopped[r]+'"]').length){
                            $('#l-video>video[data-id="'+user.allRooms[currentRoomID].stopped[r]+'"]').remove();
                        }
                        if($('#r-video>video[data-id="'+user.allRooms[currentRoomID].stopped[r]+'"]').length){
                            $('#r-video>video[data-id="'+user.allRooms[currentRoomID].stopped[r]+'"]').remove();
                        }
                        if($('#u-video>video[data-id="'+user.allRooms[currentRoomID].stopped[r]+'"]').length){
                            $('#u-video>video[data-id="'+user.allRooms[currentRoomID].stopped[r]+'"]').remove();
                        }
                    }
                }
            }
        }, 100);
        
    </script>
	<style>
		.chats-block{
            width: 75%;
            text-align: center;
            margin: 0 auto;
        }
        .logout-block{
            display: none;
            float: right;
        }
        .chat-box{
            width: 100%;
            height: auto;
            border: 1px solid;
            position: relative;
        }
        .chat-box form{
            position: relative;
            margin-top: 5px;
            bottom: 5px;
            width: 100%;
        }
        .allchats{
            width: 80%;
            height: 23.5vh;
            margin: 0 auto;
            margin-top: 10px;
            text-align: left;
            overflow: auto;
        }
        .userNames h4, .userNames p{
            display: inline-block;
        }
        .userNames p > span{
            margin-left: 5px;
            margin-right: 5px;
        }
        .userNames p > a{
            font-size: 10px;
            margin-right: 3px;
        }
        .userNames p > span.user-pend, .userNames p > span.user-stream{
            font-size: 10px;
            margin-right: 3px;
        }
        .hidden{
            display: none;
        }
        .add-users{
            margin-bottom: 5px;
            display: none;
        }
        .add-users span{
            font-size: 0.8em;
            color: red;
        }
        .start-vchat{
            float: right;
        }
        #l-video{
            display: inline-block;
            width: 48%;
            border: 2px solid;
            padding: 2px;
            margin: 0 auto;
            height: auto;
        }
        #r-video{
            display: none;
            width: 48%;
            border: 2px solid;
            padding: 2px;
            margin: 0 auto;
            height: auto;
        }
        #u-video{
            display: none;
            width: 48%;
            border: 2px solid;
            padding: 2px;
            margin: 0 auto;
            height: auto;
        }
        #l-video > video, #r-video > video, #u-video > video{
            width: 90%;
        }
        #l-video > h4, #r-video > h4, #u-video > h4{
            margin: 5px;
        }
        .stop-button{
            margin: 5px;
        }
	</style>
</head>
<body>
    <div class="logout-block">
        <a href="#"></a>
        <button class="logoutBtn" type="button" onclick="closeChat()">Close</button>
    </div>
    <div class="chats-block">
        <h3>Chat room: <span id="chatName"><%= title %></span></h3>
        <div class="userNames">
		    <h4>All users joined this room: </h4>
            <p></p>
            <div class="add-users">
                <input type="text" id="username" name="username">
                <button type="button" onclick="socketModule.addUsers()">Add user</button>
                <span></span>
            </div>
        </div>
        <div class="chat-box">
           <div class="video-chat">
               <div id="l-video">
                  <% if(roomData.admin==username){ %>
                   <h4>Organizer video</h4>
                  <% } %>
                  <% if(roomData.admin!=username){ %>
                   <h4>My video</h4>
                  <% } %>
               </div>
               <div id="r-video">
                  <% if(roomData.admin==username){ %>
                   <h4>User video</h4>
                  <% } %>
                  <% if(roomData.admin!=username){ %>
                   <h4>Organizer video</h4>
                  <% } %>
               </div>
               <div id="u-video">
                   <h4>User video</h4>
               </div>
           </div>
           <div class="allchats">
            <% for(var c in roomData.chat){ %>
             <% if((new Date(roomData.chat[c].date)).getTime()>=(new Date(cDate)).getTime()){ %>
                <%  if((roomData.chat[c].message.indexOf('SERVER')==-1 && roomData.chat[c].message.indexOf(username)==-1 && roomData.admin==username) || roomData.admin!=username){ %>
                    <p><b><%= roomData.chat[c].user %>: </b><%= roomData.chat[c].message %></p>
                <% } %>
             <% } %>
            <%  } %>
           </div>
            <form>
                <label for="message">Message: </label>
                <input type="text" id="message" name="message">
                <button type="button" onclick="socketModule.sendMessage()">Send message</button>
            </form>
        </div>
    </div>
</body>
</html>