<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        h3 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h3><%= error %></h3>
</body>
</html>